/* ------------------------ */
/* Reset                    */
/* ------------------------ */

/* Box sizing */
*,
*::after,
*::before {
    box-sizing: border-box;
}

/* Reset margin */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

/* Set up the body */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    line-height: 1.5rem;
    min-height: 100vh;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Make anchor easier to work with */
a {
    font: inherit;
    text-decoration: none;
}

/* Make from element easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove defualt style from unordered list */
ul {
    margin: 0;
    list-style: none;
}

/* Remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
    *,
    *::after,
    *::before {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ------------------------ */
/* Gobal variables          */
/* ------------------------ */

:root {
    /* Palettes color */
    --font-color: #FFFFFF;
    --primary-color: #000000;
    --secondary-color: #C3DC00;

    /* Body font size */
    --x-lg: 4.5rem;
    --lg: 1.8rem;
    --md: 1.6rem;
    --sm: 1.4rem;

    /* Arrow color */
    --arrow-color: #FFFFFF;

    /* Buttons font size & color */
    --btn-font-size: 1.3rem;
    --btn-text-color: #000000;
}

/* ------------------------ */
/* Buttons                  */
/* ------------------------ */

.btn {
    width: 44px;
    height: 44px;
    font-size: var(--btn-font-size);
    line-height: 2rem;
    font-weight: 600;
    color: var(--btn-text-color);
    border: none;
    border-radius: 50%;
    background-color: var(--secondary-color);
    cursor: pointer;
}

.btn-primary {
    padding: 18px 32px;
    border-radius: 12px;
}

.btn-secondary {
    
}

.arrow__left::after {
    content: '\1F808';
    color: var(--arrow-color);
}

.arrow__right::after {
    content: '\1F80A';
    color: var(--arrow-color);
}

/* ------------------------ */
/* Section header           */
/* ------------------------ */

header {
    width: 100%;
    height: auto;
    padding: 8px;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--primary-color);
}

.logo img {
    width: 200px;
    height: 60px;
    object-fit: contain;
    object-position: center;
}

.btn-menu img {
    width: 26px;
    margin: 0 auto;
    object-fit: contain;
}

/* ------------------------ */
/* Section banner slider    */
/* ------------------------ */

main {
    width: 100%;
    height: auto;
    display: flex;
}

main .container-banner {
    width: 100%;
    height: 300px;
    background-color: aqua;
}
